<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须定义，非绑定到类或是接口的方式 -->
<mapper namespace="blog.xzbk.dao.CategoryDao">
    <!-- 查询所有记录条数 -->
	<select id="totalRows" parameterType="int" resultType="int">
	    SELECT
			count(*)
		FROM
			categories
		WHERE
			uid = #{uid }
	</select>
	<!-- 查询所有标签数据(不分页) -->
	<select id="queryAll" parameterType="int" resultType="blog.xzbk.entity.Category">
	    SELECT
			*
		FROM
			categories
		WHERE
			uid = #{uid }
	</select>
	<!-- 分页查询分类数据一 -->
	<select id="queryPage" parameterType="blog.xzbk.entity.PageMsg" resultType="blog.xzbk.entity.Category">
	    SELECT
			*
		FROM
			categories
		WHERE
			uid = #{uid }
		<if test="key!=null and key!=''">
		AND
			name like concat('%',#{key },'%')
		</if>
		LIMIT
			#{startRow},#{pageSize}
	</select>
	<!-- 通过id查询分类信息  -->
	<select id="queryById" parameterType="blog.xzbk.entity.Category" resultType="blog.xzbk.entity.Category">
	    SELECT
			*
		FROM
			categories
		WHERE
			id = #{id }
		AND 
			uid = #{uid }
		
	</select>
	<!-- 删除单条数据  -->
	<delete id="delete" parameterType="int">
	    DELETE FROM
	    	categories
	    WHERE
	    	id = #{id }
	</delete>
	<!-- 删除一页数据  -->
	<delete id="deleteAll">
	    DELETE FROM
	    	categories
	    WHERE 
	    	id
	    IN
	    <foreach collection="idArray" item="item" open="(" close=")" separator=",">
	        #{item }
	    </foreach>
	</delete>
	<!-- 添加一个标签   -->
	<insert id="add" parameterType="blog.xzbk.entity.Category">
	    INSERT INTO
	    	categories(
	    		name,
	    		uid
	    )
	    VALUES(
	    	#{name },
	    	#{uid }
	    )
	</insert>
	<!-- 更新数据 -->
	<update id="update" parameterType="blog.xzbk.entity.Category">
	    UPDATE
	    	categories
	    SET
	    	name = #{name }
	    WHERE
	    	id = #{id }
	</update>
</mapper>